@charset "ISO-8859-1";

body {
	background-color: lightgrey;
}

#menu {
	float:right;
}

#menu a {
	margin-right : 10px;
}

.formSearch {
	justify-content: center;
}

#divSearch {
	width:75%;
	display:flex;
	flex-wrap:wrap; /* dispose en-dessous si pas de place */
	align-items: center;
	justify-content: space-around;
}

.listEnchere{
	display:flex;
	flex-wrap:wrap; /* dispose en-dessous si pas de place */
	align-items: center;
	justify-content: space-between;
	margin-top : 50px;
}

#cardEnchere {
	border : 2px solid black;
	width : 30%;
}

#imgEnchere {
	float: left;
	height:150px;
}


.form {
	border: solid;
	text-align: center;
	border-radius: 10% / 50%;
}

.buttonForm {
	text-align: center;
	
}